-o "~/Youtube/%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s"
-f "bv*[ext=mp4]+ba[ext=m4a]/b[ext=mp4] / (bv*[vcodec~='^((he|a)vc|h26[45])']+ba) / bv*+ba/ b"
-S "ext"
--geo-bypass
--yes-playlist
--concurrent-fragments 8
--no-lazy-playlist
--hls-use-mpegts
--no-mtime
--prefer-free-formats
--write-subs
--embed-thumbnail
--embed-chapters
--embed-metadata
--sponsorblock-remove all
